$primary: #6D64B9;
$black: #3c3744;
$white: #fbfff1;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 65px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
}

#header {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    height: 35px;
    position: fixed;
    width: calc(100% - 60px);
    z-index: 1;
    border-bottom: solid 5px $white;

    a {
        text-decoration: none;
        color: $white;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .logo {
        font-size: 35px;
        min-width: 220px;
    }

    .nav {
        align-items: center;
        font-size: 30px;

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;
        }

        li {
            padding: 0px 20px;
            list-style-type: none;
        }

        
    }

}

#intro {
    height: 735px;

    svg {
        margin-top: 80px;

        line {
            stroke: $black;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    a {
        color: $black;
    }

    .text {
        .left {
            position: absolute;
            top: 170px;
            right: calc(50% + 60px);
            text-align: right;
            min-width: 500px;

            .name {
                font-size: 75px;
            }

            .title {
                font-size: 50px;
            }
        }

        .right {
            position: absolute;
            top: 475px;
            left: calc(50% + 40px);
            font-size: 25px;
            width: 650px;
        }
    }
}

#about {
    margin-top: 40px;
    padding-bottom: 15px;
    height: 800px;
    position: relative;
    background-color: $primary;
    color: $white;

    
    .padding {
        background-color: $white;
        height: 65px;
    }


    svg {
        line {
            stroke: $white;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    #backdrop {
        position: absolute;
        top: 225px;
        left: 25%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
    }

    #profile {
        position: absolute;
        top: 275px;
        left: 25%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 300px;
        height: 300px;
    }

    h1 {
        position: absolute;
        top: 75px;
        right: 25%;
        width: 300px;
        padding: 10px 40px 0px;
        background-color: $primary;
    }

    .text {
        position: absolute;
        top: 250px;
        width: 35%;
        min-width: 500px;
        left: calc(20% + 350px);
        font-size: 20px;

        a {
            color: $white;
        }
    }
}

#experience {
    padding-top: 30px;

    h1 {
        color: $black;
        margin: 50px 100px 0;
    }

    .section {
        color: $white;
        background-color: $primary;
        margin: 25px 100px;
        padding: 10px 30px 40px;

        .expand {
            display: none;
            justify-content: space-between;
            align-items: center;
            align-items: flex-start;
            font-size: 20px;

            .text {
                display: flex;
                flex-direction: column;
                align-content: space-between;
            }

            a {
                color: $white;
            }
        }

        img {
            vertical-align: text-top;
            border: solid 5px $white;
            width: 300px;
            height: 300px;
        }

        p {
            display: inline;
        }

        .caret {
            float: right;
            width: 30px;
            height: 30px;
            padding: 5px;
            border: none;
            transform: rotate(0deg);
            cursor: pointer;
        }

        .location {
            float: right;
            font-size: 20px;
            margin-top: 6px;
            margin-right: 25px;
        }

        .caption {
            text-align: center;
            font-size: 15px;
        }
    }
}

#projects{
    background-color: $primary;
    margin-top: 100px;
    padding: 1px 0px 10px; 

    h1 {
        color: $white;
        margin: 50px 100px 0;
        padding: 50px 0 20px;
    }

    .section {
        color: $black;
        background-color: $white;
        margin: 25px 100px;
        padding: 10px 30px 25px;

        .content {
            display: flex;
            justify-content: space-between;
        }

        .description {
            font-size: 20px;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }

        .icon {
            width: 50px;
            height: 50px;
            margin: 10px;
        }

        img.container {
            height: 300px;
            width: 600px;
            border: solid 2px $primary;
            margin-bottom: 3px;
        }

        img.slides {
            vertical-align: text-top;
            // border: solid 2px $primary;
            object-fit: cover;
            width: 70px;
            height: 70px;
            opacity: 0.4;
        }

        img.slides:first-child {
            opacity: 1;
        }

        img.slides:hover {
            cursor: pointer;
            opacity: 1;
        }

        button {
            width: 40px;
            height: 40px;
            border: none;
            background-color: $white;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }

        .image {
            display: flex;
            align-items: center;
        }

        .images {
            margin-left: 40px;
        }

        .left {
            transform: rotate(90deg);
        }

        .right {
            transform: rotate(-90deg);
        }

        p {
            display: inline;
        }
    }
}

#contact {
    height: 550px;
    margin: 250px 100px 50px;
    text-align: center;
    font-size: 20px;

    h1 {
        color: $black;
    }

    button {
        width: 300px;
        border: none;
        border: solid 5px $primary;
        background-color: $primary;
        padding: 15px 32px;
        text-align: center;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: 23px;
        margin-top: 50px;

        
    }

    button:hover {
        border: solid 5px $primary;
        background-color: $white;
        color: $primary;
        padding: 15px 32px;
    }

    a {
        text-decoration: none;
    }
}

#footer {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 15px 30px;
    background-color: $primary;
    color: $white;
    font-size: 20px;

    a {
        color: $white;
        text-decoration: none;
    }
}