$primary: #6D64B9;
$secondary: #cfcfea;
$black: #3c3744;
$white: #fbfff1;

body {
    margin: 0;
    background-color: $white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
}

#header {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    height: 35px;

    .logo {
        font-size: 35px;
    }

    .nav {
        align-items: center;
        font-size: 30px;

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;
        }

        li {
            padding: 0px 20px;
            list-style-type: none;
        }

        li:hover {
            cursor: pointer;
            background-color: $white;
            color: $primary;
        }

        a {
            text-decoration: none;
            color: darkslategray;
            padding: 18px 30px;
        }
    }

}

#intro {
    svg {
        margin: auto;

        line {
            stroke: $black;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    .text {
        .left {
            position: absolute;
            top: 160px;
            left: 15%;
            text-align: right;

            .name {
                font-size: 50px;
            }

            .title {
                font-size: 30px;
            }
        }

        .right {
            position: absolute;
            top: 260px;
            left: 50%;
            font-size: 20px;
        }
    }
}

#about {
    background-color: $primary;
    color: $white;

    svg {
        line {
            stroke: $white;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    #backdrop {
        position: absolute;
        top: 720px;
        left: 11%;
        width: 400px;
        height: 400px;
    }

    #profile {
        position: absolute;
        top: 770px;
        left: 15%;
        width: 300px;
        height: 300px;
    }

    h1 {
        position: absolute;
        top: 614px;
        left: 18%;
        width: 300px;
        height: 300px;
    }

    .text {
        position: absolute;
        top: 750px;
        width: 400px;
        left: 45%;
        font-size: 20px;
    }
}

#experience {
    h1 {
        color: $black;
        margin: 50px 100px 0;
    }

    .section {
        color: $white;
        background-color: $primary;
        margin: 25px 100px;
        padding: 10px 30px 25px;

        .media {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img {
            vertical-align: text-top;
            border: solid 5px $white;
            width: 300px;
            height: 300px;
        }

        p {
            display: inline;
        }

        .caret {
            float: right;
            width: 20px;
            height: 20px;
            border: none;
        }
    }
}

#projects{
    background-color: $primary;
    padding-bottom: 50px;

    h1 {
        color: $white;
        margin: 50px 100px 0;
        padding-top: 50px;
    }

    .section {
        color: $black;
        background-color: $white;
        margin: 25px 100px;
        padding: 10px 30px 25px;

        img {
            vertical-align: text-top;
            border: solid 5px $primary;
            width: 300px;
            height: 300px;
        }

        p {
            display: inline;
        }
    }
}

#contact {
    margin: 50px 100px;
    text-align: center;
    font-size: 20px;

    h1 {
        color: $black;
    }

    button {
        width: 300px;
        border: none;
        border: solid 5px $primary;
        background-color: $primary;
        padding: 15px 32px;
        text-align: center;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: 23px;
        margin-top: 30px;

        a {
            text-decoration: none;
        }
    }

    button:hover {
        border: solid 5px $primary;
        background-color: $white;
        color: $primary;
        padding: 15px 32px;
    }
}

#footer {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 15px 30px;
    background-color: $primary;
    color: $white;
    font-size: 20px;
}