body {
  margin: 0;
  background-color: #fbfff1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 45px;
  text-align: center;
}

#header {
  background-color: #6D64B9;
  color: #fbfff1;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  height: 35px;
}
#header .logo {
  font-size: 35px;
}
#header .nav {
  align-items: center;
  font-size: 30px;
}
#header .nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}
#header .nav li {
  padding: 0px 20px;
  list-style-type: none;
}
#header .nav li:hover {
  cursor: pointer;
  background-color: #fbfff1;
  color: #6D64B9;
}
#header .nav a {
  text-decoration: none;
  color: darkslategray;
  padding: 18px 30px;
}

#intro svg {
  margin: auto;
}
#intro svg line {
  stroke: #3c3744;
  stroke-width: 5;
  stroke-linecap: round;
}
#intro .text .left {
  position: absolute;
  top: 160px;
  left: 15%;
  text-align: right;
}
#intro .text .left .name {
  font-size: 50px;
}
#intro .text .left .title {
  font-size: 30px;
}
#intro .text .right {
  position: absolute;
  top: 260px;
  left: 50%;
  font-size: 20px;
}

#about {
  background-color: #6D64B9;
  color: #fbfff1;
}
#about svg line {
  stroke: #fbfff1;
  stroke-width: 5;
  stroke-linecap: round;
}
#about #backdrop {
  position: absolute;
  top: 720px;
  left: 11%;
  width: 400px;
  height: 400px;
}
#about #profile {
  position: absolute;
  top: 770px;
  left: 15%;
  width: 300px;
  height: 300px;
}
#about h1 {
  position: absolute;
  top: 614px;
  left: 18%;
  width: 300px;
  height: 300px;
}
#about .text {
  position: absolute;
  top: 750px;
  width: 400px;
  left: 45%;
  font-size: 20px;
}

#experience h1 {
  color: #3c3744;
  margin: 50px 100px 0;
}
#experience .section {
  color: #fbfff1;
  background-color: #6D64B9;
  margin: 25px 100px;
  padding: 10px 30px 25px;
}
#experience .section .media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#experience .section img {
  vertical-align: text-top;
  border: solid 5px #fbfff1;
  width: 300px;
  height: 300px;
}
#experience .section p {
  display: inline;
}
#experience .section .caret {
  float: right;
  width: 20px;
  height: 20px;
  border: none;
}

#projects {
  background-color: #6D64B9;
  padding-bottom: 50px;
}
#projects h1 {
  color: #fbfff1;
  margin: 50px 100px 0;
  padding-top: 50px;
}
#projects .section {
  color: #3c3744;
  background-color: #fbfff1;
  margin: 25px 100px;
  padding: 10px 30px 25px;
}
#projects .section img {
  vertical-align: text-top;
  border: solid 5px #6D64B9;
  width: 300px;
  height: 300px;
}
#projects .section p {
  display: inline;
}

#contact {
  margin: 50px 100px;
  text-align: center;
  font-size: 20px;
}
#contact h1 {
  color: #3c3744;
}
#contact button {
  width: 300px;
  border: none;
  border: solid 5px #6D64B9;
  background-color: #6D64B9;
  padding: 15px 32px;
  text-align: center;
  color: #fbfff1;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  margin-top: 30px;
}
#contact button a {
  text-decoration: none;
}
#contact button:hover {
  border: solid 5px #6D64B9;
  background-color: #fbfff1;
  color: #6D64B9;
  padding: 15px 32px;
}

#footer {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 15px 30px;
  background-color: #6D64B9;
  color: #fbfff1;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
