$primary: #9556eb;
$secondary: #cfcfea;
$black: black;
$white: white;

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#header {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    .logo {
        h1 {
            margin: 0;
        }
    }

    .nav {
        align-items: center;
        font-size: 30px;

        ul {
            margin: 0;
            display: flex;
            flex-direction: row;
        }

        li {
            padding: 0px 20px;
            list-style-type: none;
        }

        li:hover {
            cursor: pointer;
            background-color: $white;
            color: $primary;
        }

        a {
            text-decoration: none;
            color: darkslategray;
            padding: 18px 30px;
        }
    }

}

#intro {
    svg {
        margin: auto;

        line {
            stroke: $black;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    .text {
        .left {
            position: absolute;
            top: 160px;
            left: 15%;
            text-align: right;

            .name {
                font-size: 50px;
            }

            .title {
                font-size: 30px;
            }
        }

        .right {
            position: absolute;
            top: 260px;
            left: 50%;
            font-size: 20px;
        }
    }
}

#about {
    background-color: $primary;
    color: $white;

    svg {
        line {
            stroke: $white;
            stroke-width:5;
            stroke-linecap: round;
        }
    }

    #backdrop {
        position: absolute;
        top: 720px;
        left: 11%;
        width: 400px;
        height: 400px;
    }

    #profile {
        position: absolute;
        top: 770px;
        left: 15%;
        width: 300px;
        height: 300px;
    }

    h1 {
        position: absolute;
        top: 614px;
        left: 18%;
        width: 300px;
        height: 300px;
        font-size: 45px;
    }

    .text {
        position: absolute;
        top: 750px;
        width: 400px;
        left: 45%;
        font-size: 20px;
    }
}

#experience {

}

#projects{

}

#contact {

}